<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tajo.dao.GroupDao">

	<!-- 전체 그룹 조회 -->
	<select id="selectAll" resultType="Group" parameterType="String">
		SELECT *
		FROM groupBoard
	</select>

	<!-- 상세 그룹 조회 -->
	<select id="selectOne" resultType="Group" parameterType="int">
		SELECT *
		FROM groupBoard
		WHERE id = #{id};
	</select>

	<!-- 게시글 등록 -->
	<insert id="insertGroup" parameterType="Group"
		useGeneratedKeys="true">
		INSERT INTO groupBoard (title, content, courseid,
		date)
		VALUES (#{title},#{content},#{courseid}, #{date})
	</insert>

	<!-- 게시글 삭제 -->
	<delete id="deleteGroup" parameterType="int">
		DELETE FROM groupBoard
		WHERE groupid = #{groupid}
	</delete>

	<!-- 게시글 수정 -->
	<update id="updateGroup" parameterType="Group">
		UPDATE groupBoard
		SET
		title = #{title}, content = #{content}, courseid = #{courseid}, date = #{date}
		WHERE groupid = #{groupid}
	</update>
	
	<!-- 그룹 멤버 등록 -->
	<insert id="insertUserGroup" parameterType="hashmap"
		useGeneratedKeys="true">
		INSERT INTO group (groupid, userid)
		VALUES (#{map.groupid}, #{map.userid})
	</insert>

	<!-- 그룹 멤버 삭제 -->
	<delete id="deleteUserGroup" parameterType="hashmap">
		DELETE FROM group
		WHERE groupid = #{map.groupid} AND userid = #{map.userid}
	</delete>
	
	<!-- 그룹 멤버 출력 -->
	<select id="getAttendants" parameterType="int" resultType="User">
        SELECT *
        FROM user
        INNER JOIN group
        WHERE groupid = #{groupid}
    </select>
	
</mapper>
