<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tajo.dao.GroupDao">

	<!-- 전체 그룹 조회 -->
	<select id="selectAll" resultType="Group" parameterType="String">
		SELECT *
		FROM groupBoard
		WHERE courseid = ${courseid}
	</select>

	<!-- 상세 그룹 조회 -->
	<select id="selectOne" resultType="Group" parameterType="int">
		SELECT *
		FROM groupBoard
		WHERE id = #{id};
	</select>

	<!-- 그룹 등록 -->
	<insert id="insertGroup" parameterType="Group">
		INSERT INTO groupBoard
		(courseid, content, writer, `limit`, `date`)
		VALUES
		(#{courseid},#{content},#{writer}, #{limit}, #{date})
	</insert>

	<!-- 그룹 삭제 -->
	<delete id="deleteGroup" parameterType="int">
		DELETE FROM groupBoard
		WHERE groupid = #{groupid}
	</delete>

	<!-- 게시글 수정 -->
	<update id="updateGroup" parameterType="Group">
		UPDATE groupBoard
		SET
		title = #{title}, content = #{content}, courseid = #{courseid}, date =
		#{date}
		WHERE groupid = #{groupid}
	</update>

	<!-- 그룹 멤버 등록 -->
	<insert id="insertUserGroup" parameterType="GroupInfo">
		INSERT
		INTO group (groupid, userid)
		VALUES (#{groupid}, #{userid})
	</insert>

	<!-- 그룹 멤버 삭제 -->
	<delete id="deleteUserGroup" parameterType="GroupInfo">
		DELETE FROM group
		WHERE groupid = #{groupid} AND userid LIKE #{userid}
	</delete>

	<!-- 그룹 멤버 출력 -->
	<select id="getAttendants" parameterType="int" resultType="User">
		SELECT *
		FROM `user` as u
		INNER JOIN `group` as g on u.`userid` = g.`userid`
				WHERE groupid = ${groupid};
		
	</select>

	<update id="plusPeople" parameterType="GroupInfo">
		UPDATE groupBoard
		SET people = people + 1
		WHERE groupid = #{groupid}
	</update>


	<update id="minusPeople" parameterType="GroupInfo">
		UPDATE groupBoard
		SET people = people - 1
		WHERE groupid=#{groupid}
	</update>

</mapper>
