<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.tajo.dao.UserDao">

	<insert id="insertUser" parameterType="User">
		INSERT INTO user (userid, password, nickname)
		VALUES (#{userid}, #{password}, #{nickname})
	</insert>
	
	<select id="selectOne" parameterType="String" resultType="User">
		SELECT userid, password, nickname
		FROM user
		WHERE userid = #{userid}
	</select>
	
	<select id="selectAll" resultType="User">
        SELECT userid, password, nickname
        FROM user
    </select>
	
	<select id="loadRecord" parameterType="String" resultType="Record">
		SELECT *
		FROM record
		WHERE userid = #{userid}
	</select>
	
	<insert id="saveRecord" parameterType="Record">
		INSERT INTO record (userid, distance, ridedate)
		VALUES (#{userid}, #{distance}, now())
	</insert>
	
	<select id="selectLower" parameterType="int" resultType="int">
		SELECT count(*)
		FROM record
		WHERE distance  <![CDATA[ < ]]> #{userDist}
	</select>
	
	<select id="selectSame" parameterType="int" resultType="int">
		SELECT count(*)
		FROM record
		WHERE distance = #{userDist}
	</select>
	
	
</mapper>